/target/
!.mvn/wrapper/maven-wrapper.jar

.mvn/
mvnw
mvnw.cmd
/deploy.sh

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/src/main/resources/
/src/main/logs/
!/src/main/logs/uniprot_db/.keep